@import url("https://fonts.googleapis.com/css2?family=Sail&family=Trade+Winds&display=swap");

.police {
    font-family: Georgia, "Times New Roman", Times, sans-serif;

}

.with-about {
    padding-left: 10%;
    padding-right: 10%;
}

.fab_width {
    font-size: 3em;
}

.padding-skills
{
    padding-left: 20%;
    padding-right: 20%;
}
.card-width{
/* width: 2rem; */
}

.a{
text-decoration:none;

}
.bg-brown{
    background-color: brown;
     border-radius: 10px;
    box-shadow: 10px 10px 100px rgba(141, 67, 67, 0.316) ;


}
@media(max-width: 48em){
    .padding-skills-responsive{
        padding:0% !important;
        margin: 0 !important;
    

    }
}
.height{
    height:auto ;
    cursor: pointer;
}
.height:hover{
    background-color: brown;
    color: white !important;
}
.button{
    border: brown 1px solid !important;
}
.button:hover{
    color: white !important;
    background-color: transparent;
    border: white solid 1px !important;
}

.a{
    display: block;
padding: 10px 10px;
text-decoration: none;

} 
.a:hover{
    color: white !important;
}
.text-brown{
    color: brown;
}